body {
    --bege: #E6E0D6;
    --marrom-escuro: #816D4F;
    --marrom-claro: #B29463;
    font-family: 'Barlow', sans-serif;
    height: 100%;
  }
  
  input[type=checkbox] {
    border: 2px solid var(--marrom-claro);
    box-shadow: none;
  }
    
  input[type=checkbox]:checked,
  input[type="checkbox"]:focus {
    background-color: var(--marrom-claro);
    border-color: var(--marrom-claro);
    box-shadow: none;
    outline: none;
  }
  
  .botao-padrao {
    background-color: var(--marrom-claro);
  }
  
  .botao-padrao:hover {
    background-color: var(--marrom-escuro);
  }
  
  [data-bs-theme="dark"] {
    color: white;
  }

  .img-logo {
    height: 100px;
    width: 225px;
  }
  
  /*Responsive*/
  
  @media (max-width: 320px) {
  
  
    
  }
  
  @media (min-width: 321px) and (max-width: 375px) {
  
    
  
  }
  
  @media (min-width:  376px) and (max-width: 576px) {
  
    
  
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
  
    
  
  }
    
  @media (min-width: 993px) and (max-width: 1200px) {
  
   
  
  }